<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Detalhe de pessoa</title>
</head>
<body>
    <!-- Detalhes de uma pessoa -->
    <div>
        <h2><span th:text="${pessoa.nome}">Nome do Bombeiro</span></h2>
        <h3>Número mecanográfico: </h3> <span th:text="${pessoa.numMecanografico}">1234</span>
        <h3>Identificador Interno: </h3> <span th:text="${pessoa.idInterno}">1234</span>
        <h3>Categoria: </h3> <span th:text="${pessoa.categoria}">B.Sapador</span>

    </div>

    <!-- Operações -->
    <div>
        <h3>Nesta página poderá fazer:</h3>
        <ul>
            <!--
            <li> Editar detalhes
                <a href="#">
                    Editar detalhes.
                </a>
            </li>
            -->
            <!--
            <li> Marcar Férias
                <a href="#">
                    Marcar Férias.
                </a>
            </li>
            -->
            <li><!-- Fazer Troca -->
                <a href="#" th:href="${pessoa.operacaoTroca}">
                    Pedir uma troca de serviço?
                </a>
            </li>
            <!--
            <li> Pedir dispensa
                 <a href="#">
                Pedir dispensa.
                </a>

            </li>-->
        </ul>
    </div>
    <!-- footer -->
    <div th:replace="templates :: footer"></div>

</body>
</html>