<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Detalhe de pessoa</title>
</head>
<body>
    <!-- Detalhes de uma pessoa -->
    <div>
        <h2><span th:text="${pessoa.nome}">Nome do Bombeiro</span></h2>
        <h3>Número mecanográfico: </h3> <span th:text="${pessoa.numMecanografico}">1234</span>
        <h3>Identificador Interno: </h3> <span th:text="${pessoa.idInterno}">1234</span>
        <h3>Categoria: </h3> <span th:text="${pessoa.categoria}">B.Sapador</span>

        <!--
            "id": ​0,
            "uri_pessoa": "",
            "uri_instalacaoPorOmissao": "",
            "uri_postoFuncionalPorOmissao": "",
            "uri_tipoPresencaPorOmissao": "",
            "uri_turnoPorOmissao": "",
            "telefone1": "",
            "abreviatura": "",
            "Matricula": "",
            "nif": "",
            "nome": "",
            "numMecanografico": "",
            "factorElegibilidade": "0.0",
            "telefone2": "",
            "eMail": "",
            "idInterno": "",
            "numDocIdentificação": "",
            "dataIngresso": "",
            "tipoDocIdentificacao":"BilheteIdentidade",
            "dataNascimento": "1970-01-01"
        -->
    </div>

    <!-- footer -->
    <div th:replace="templates :: footer"></div>

</body>
</html>