<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8"></meta>
        <title>Criar Unidade Estrutural</title>
    </head>
    <body>
        <h1>Criar uma unidade Estrutural</h1>
        <!-- Formulário para criar uma unidade estrutural -->
        <div>
            <form action="/unidadesEstruturais" method="POST">
                Designação: <input type="text" name="designacao"></input><br></br>
                Tipo:
                <span>
                    <select name="tipo_id" >
                        <option th:each="tipo:${viewModel.tiposUnidadesEstruturais}"
                                th:value="${tipo.getId()}"
                                th:text="${tipo.getDesignacao()}">
                        </option>

                    </select><br></br>
                </span>
                <span th:unless="${#lists.isEmpty(viewModel.unidadesEstruturaisMae)}">
                    Unidade Estrutural Mãe:
                    <select name="unidadeEstruturalMae_id" >
                        <option th:each="ue : ${ viewModel.unidadesEstruturaisMae }"
                                th:value="${ ue.getId() }"
                                th:text="${ ue.getDesignacao() }">
                        </option>

                    </select><br></br>
                </span>
                <input type="submit" value="Criar"></input>
            </form>
        </div>


    </body>
</html>