<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"></link>
        <title>Mapa da Força</title>
    </head>
    <body>

        <h1>Gestão do Mapa da força</h1>
        <h2>Qual é o periodo que pretende consultar?</h2>

        <!-- Lista de periodos-->
        <div th:unless="${#lists.isEmpty(periodosUI)}">
            <ul>
                <li th:each="p : ${periodosUI}">
                    <a href="details.html" th:href="${p.url}">
                        <span th:text="${p.dataInicio}">2015-11-01</span>
                        -
                        <span th:text="${p.dataFim}">2015-11-30</span>
                    </a>
                </li>
            </ul>
        </div>
        <div th:if="${#lists.isEmpty(periodosUI)}">
            <h2>Não existe periodos!</h2>
        </div>

        <!-- OPERAÇÕES -->
        <div>
            <h3>
                <a href="#">
                    Deseja gerar novo período?
                </a>
            </h3>
        </div>

        <!-- footer -->
        <div th:replace="templates :: footer"></div>
    </body>
</html>