<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"></link>
        <title>Mapa da Força</title>
    </head>
    <body>

        <h1>Gestão do Mapa da força</h1>
        <div th:unless="${#lists.isEmpty(selectPresencasUI.periodosUI)}">
            <form th:action="${action}" method="GET" th:object="${selectPresencasUI}">

                <!-- Lista de periodos-->
                <h4>Qual é o periodo que pretende consultar?</h4>
                <select th:field="*{periodoId}">
                    <option th:each="p:*{periodosUI}"
                            th:value="${p.id.toString()}"
                            th:text="${p.toString()}"
                    >Lista de periodos</option>
                </select>
                <div th:unless="${#lists.isEmpty(selectPresencasUI.unidadeEstruturaisUIs)}">
                    <h4>E em que unidade estrutural?</h4>
                    <select th:field="*{unidadeEstruturalId}">
                        <option th:each="ue:*{unidadeEstruturaisUIs}"
                                th:value="${ue.id}"
                                th:text="${ue.designacao}"
                        >Lista de unidades  estruturais</option>
                    </select>

                </div>
                <br></br>
                <input type="submit" value="Pesquisar"></input>
            </form>

        </div>
        <div th:if="${#lists.isEmpty(selectPresencasUI.periodosUI)}">
            <h2>Não existe periodos!</h2>
        </div>

        <!-- OPERAÇÕES -->
        <div>
            <h3>
                <a href="insert.html" th:href="@{/mapaForca/gerar}">
                    Deseja inserir novo periodo?
                </a>
            </h3>
        </div>

        <!-- footer -->
        <div th:replace="templates :: footer"></div>
    </body>
</html>