<!DOCTYPE html>
<html lang="pt-pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <!-- The above 3 meta tags *must* come first in the head; any other
        head content must come *after* these tags -->
        <title>Aplicação Cliente RSB</title>

       <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>

        <!-- Custom styles for this template -->
        <link th:href="@{/css/dashboard.css}" rel="stylesheet"></link>
    </head>
    <body>

        <nav th:replace="templates :: navbar"></nav>

        <div class="container">
            <div class="jumbotron bg-info">
                <h1>Bem-vindo à aplicação do RSB</h1>
                <p>Utilize a barra de navegação para escolher as operações que pretende.</p>
            </div>
        </div>


        <div th:replace="templates :: scripts"></div>
    </body>
</html>