table#mapaforca {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

td, th{
    border: 1 px solid black;
    text-align: center;
    width: auto;
}


/* teste de layout */
/*
td, th{ border: 1px solid red }
*/


/* Erros nos formulários */
div.errors{
    background-color: #ffcccc;
    border: 2px solid red;
}

label.error{
    color: red;
}

input.error{
    background-color: #ffcccc;
}